{% extends 'base_generic.html' %}

{% block content %}
<h1>Ваши покупки</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Дата продажи</th>
            <th>Тип продукта</th>
            <th>Цена</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Адрес</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in user_sales %}
        <tr>
            <td>{{ sale.id }}</td>
            <td>{{ sale.sale_date }}</td>
            <td>{{ sale.product_name }}</td>
            <td>{{ sale.product_price }}</td>
            <td>{{ sale.name }}</td>
            <td>{{ sale.surname }}</td>
            <td>{{ sale.phone }}</td>
            <td>{{ sale.address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
